.container {
    height: 800px;
    width: 100%;
}

.container-image {
    width: 87%;
    border-style: outset; 
    display: block; /* need this to use margin-auto*/
    margin: auto;
    margin-top: 25px;
    border: 10px outset #ffd9b3;

}

.container-audio {
    display: block; /* need this to use margin-auto*/
    margin: auto;
    margin-top: 25px;
}

.container-video {
    margin-top: 25px;
    border-style: outset;
    border: 10px outset #ffd9b3;
    
}
    .about-box {
    height: 700px;
    width: 30%;
    border: 3px solid #ffd9b3;
    border-radius: 15px;
    float: left;
    margin-top: 90px; 
    margin-left: 35px;
    text-align: center;
    margin-top: 50px;
}

.about-box2 {
    position: relative;
 /* top: 10px;*/

    }

audio{
    position: relative;
}

/* centering audio: padding
(doesnt work with mobile), see .about-box2, 
margin-mobile friendly, margin-auto, */

.about-box p {
    margin-top: 45px;
    padding: 0px 20px;

   
}




/* ********************End of About**************/

